# NPM dependencies
**/node_modules/

# Packaged project files
**/deploy/

# Package build
**/dist/

# Local editor data
**/.editor/

# Local editor js bundle
**/cache/**/js/

# Local UI state
**/imgui.ini

# Blender backup files
*.blend1

**/.vscode/
**/.autosave/