name: 'GitHub Pages'
on: [push]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    package:
        runs-on: ubuntu-latest
        container:
            image: wonderlandengine/editor:latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Create folders
              run: |
                  mkdir public
                  mkdir -p packages/react-ui/dist && chmod -R 777 packages/react-ui/dist
            - name: Install packages for workspaces
              run: |
                  npm ci --workspaces --fund=false --no-audit
                  # Install dependencies for example workspace to make WL happy.
                  cd examples/example_worldspace
                  npm ci --fund=false --no-audit
            - name: Build @wonderlandengine/react-ui Package
              run: npm run build
            - name: Build Worldspace Example Project
              run: /usr/local/bin/entrypoint.sh WonderlandEditor --windowless --package --project examples/example_worldspace/ReactUi.wlp --output ./public/
              env:
                  WLE_CREDENTIALS: ${{ secrets.WLE_CREDENTIALS }}
            - name: Gzip
              run: find ./public/ -type f ! -name '*.gz' -exec gzip -k "{}" \;
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: ./public
    deploy-pages:
        needs: package
        runs-on: ubuntu-latest
        if: ${{ format('refs/heads/{0}', github.event.repository.default_branch) == github.ref }}
        steps:
            - name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
